.file-upload-root{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.8)
}

.file-upload-root h2, p{
    color: gray;
}

.file-upload-root span{
    margin-left: 20px;
    cursor: pointer;
}

.file-upload-root form{
    display: flex;
    flex-direction: column;
}

.btn-container button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: #5F2384;
}

.files-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 50px;
}

.file{
    width: 300px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(81, 20, 109, 1);
}

.file span{
    display: block;
}

.file span, a {
    color: #fff;
}

.file a {
    text-decoration: none;
    font-size: 15px;
}

.file-info{
    width: 250px;
    background-color: #5F2384;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.file .download-icon{
    background-color: #fff;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .file-upload-root{
        width: 100%;
    }
    .files-list{
        justify-content: center;
    }
    .file{
        width: 100%;
    }
    .file .file-info{
        width: 90%;
    }
    .file .download-icon{
        width: 10%;
    }
}