.pagination{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.page{
    text-decoration: none;
    color:#5F2384;
    border: 2px solid hsl(277, 58%, 33%);
    border-right: none;
    padding: 0 10px;
    cursor: pointer;
}

.page:hover{
    text-decoration: none;
}

.activePage{
    color: white;
    background-color: #5F2384;
    text-decoration: none;
    border: 2px solid #5F2384;
    border-right: none;
    padding: 0 10px;
    cursor: pointer;
}

.activePage:hover{
    color: white;
    text-decoration: none;
}

.pagination span:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination span:last-child{
    border-right: 2px solid  #5F2384;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}