.posts-container{
    width: 60%;
}

hr{
    background-color: #676767;
}

.post-container{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    background-color: #fff;
    color: #fff;
}

.post-card{
    border-radius: 10px;
    box-shadow: -2px -1px 5px rgba(0,0,0,0.6), 2px 1px 5px rgba(0,0,0,0.6);
    width: 60%;
}

.post-header{
    display: flex;
    justify-content: space-between;
    background-color: #5F2384;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.post-content{
    padding: 15px;
    color: #676767;
}

.post-createdBy{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.post-img{
    max-width: 100%;
}

.post-createdBy span{
    margin-left: 10px;
    margin-bottom: 5px;
}

.post-body{
    font-size: 30px;
}

.comments-card{
    width: 40%;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    padding: 15px;
    color: #4B4A4C;
}

.comment-form-container{
    background-color: #ECECEC;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.comment-form-container input{
    width: 100%;
}

.comments-card .post-createdBy{
    color: #4B4A4C;
}

.comments-card h3{
    margin-top: -5px;
    color: #676767;
}

.comment{
    background-color: #ECECEC;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    width: 95%;
}

.comments-list{
    overflow: auto;
    max-height: 400px;
}

.comment .comment-header{
    display: flex;
    justify-content: space-between;
}

.comment-createdBy{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
}

.comment-createdBy span{
    margin-left: 10px;
    margin-bottom: 5px;
}

.react-post-buttons{
    display: flex;
    padding: 15px;
}

.comment-button{
    display: flex;
    align-items: center;
    background-color: #5F2384;
    color: #fff;
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.like-button{
    display: flex;
    align-items: center;
    background-color: #5F2384;
    min-width: 70px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.like-button .like-icon{
    color: #fff;
}

.like-button span{
    color: #fff;
}

.add-post-form{
    border-radius: 10px;
    background-color: #fff;
    border: #5F2384 2px solid;
    box-shadow: -2px 2px 10px rgba(81, 20, 109, 0.8);
    padding: 10px;
    margin-bottom: 50px;
    padding: 20px;
}

.add-post-form h2{
    color: gray;
}

.add-post-form input{
    border: 2px solid gray;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-post-form button{
    border: none;
    border-radius: 3px;
    font-size: 17px;
    padding: 5px 15px;
    margin-top: 20px;
    background-color: #5F2384;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
}

.add-comment-form{
    margin-top: 10px;
}

.add-comment-form input{
    border: 2px solid #D6D3D7;
    outline: none;
    padding: 7px;
    border-radius: 5px;
}

.add-comment-form button{
    border: none;
    background-color: #5F2384;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-family: inherit;
    outline: none;
}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.post-image_upload{
  background-color: #5F2384;
  color: #fff;
  padding: 8px;
  font-size: 10px;
  font-weight: 600;
  font-family: sans-serif;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 950px) {
    .posts-container{
        width: 95%;
    }
    .post-container{
        flex-direction: column;
    }
    .post-card{
        width: 100%;
        box-shadow: 2px 1px 5px rgba(0,0,0,0.6);
    }
    .comments-card{
        width: 100%;
        border-left: none;
        border-radius: 0 0 10px 10px;
    }
}