.posts-container{
    width: 60%;
}

hr{
    background-color: #fff;
}

.post-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #5F2384;
    box-shadow: -5px -1px 5px rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 10px;
}

.post-card{
    padding: 15px;
    border-radius: 10px;
    width: 60%;
}

.post-header{
    display: flex;
    justify-content: space-between;
}

.post-createdBy{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.post-img{
    max-width: 100%;
}

.post-createdBy span{
    margin-left: 10px;
    margin-bottom: 5px;
}

.comments-card{
    width: 35%;
    border-radius: 10px;
    border-left: 3px solid #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px;
    color: #4B4A4C;
    overflow: auto;
    max-height: 600px;
}

.comment-form-container{
    background-color: #ECECEC;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.comment-form-container input{
    width: 100%;
}

.comments-card .post-createdBy{
    color: #4B4A4C;
}

.comments-card h3{
    margin-top: -10px;
    color: #fff;
}

.comment{
    background-color: #ECECEC;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

.react-post-buttons{
    display: flex;
}

.comment-button{
    display: flex;
    align-items: center;
    background-color: white;
    color: #5F2384;
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.like-button{
    display: flex;
    align-items: center;
    background-color: white;
    min-width: 70px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.like-button .like-icon{
    color: #5F2384;
}

.like-button span{
    color: #5F2384;
}

.add-post-form{
    border-radius: 10px;
    background-color: #5F2384;
    padding: 10px;
    margin-bottom: 50px;
    padding: 20px;
}

.add-post-form h2{
    color: #fff;
}

.add-post-form input{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.add-post-form button{
    border: none;
    border-radius: 3px;
    font-size: 17px;
    padding: 5px 15px;
    margin-top: 20px;
    background-color: #fff;
    color: #5F2384;
    cursor: pointer;
    font-family: inherit;
}

.add-comment-form{
    margin-top: 10px;
}

.add-comment-form input{
    border: 2px solid #D6D3D7;
    outline: none;
    padding: 7px;
    border-radius: 5px;
}

.add-comment-form button{
    border: none;
    background-color: #5F2384;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-family: inherit;
}

@media only screen and (max-width: 950px) {
    .posts-container{
        width: 90%;
    }
    .post-container{
        flex-direction: column;
    }
    .post-card{
        width: 100%;
    }
    .comments-card{
        width: 100%;
        border-left: none;
    }
}