.quiz-list-root{
    min-height: 100vh;
}

.quiz-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.quizListBackground{
    background: #5F2384; 
    background: -webkit-linear-gradient(to right,#5F2384,#592B86,#5F2384); 
    background: linear-gradient(to right,#5F2384,#592B86,#5F2384); 
}

.quiz-div{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    transition: 0.3s ;
    display: flex;
    flex-direction: column;
}

.quiz-list a{
    text-decoration: none;
}

.quiz-div:hover{
    transform: scale(1.1);
    z-index: 2;
}

.quiz-div a{
    text-decoration: none;
    color: #fff;
}

.quiz-list span{
    color: #fff;
}

.AddQuizBtn{
    background-color: #5F2384;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
    font-weight: 600;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
}

.loginDialogBtn{
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    text-decoration: none;
    font-size: 0.875rem;
    color: #3f51b5;
    font-weight: 500;
}

@media only screen and (max-width: 750px) {
   .quiz-list{
        justify-content: center;
   }
   .quiz-div{
        margin-bottom: 10px;
        width: 95%;
   }
   .AddQuizBtn{
       margin-left: 10px;
   }
}