.App{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}

.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capitalize{
    text-transform: capitalize;
}